* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ======================================== */
/* Core */
/* ======================================== */
body {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.5px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(135deg, #09203f 10%, #22333f 100%);
  background-image: linear-gradient(135deg, #09203f 10%, #22333f 100%);
}
.budget-app {
  width: 100%;
  min-height: 100vh;
}
.main-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
/* ======================================== */
/* Header */
/* ======================================== */
.main-container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  color: #ffffff;
}
.header__date {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.header__counter {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.header__subtitle {
  font-size: 2rem;
  font-weight: 500;
}
/* ======================================== */
/* Panel */
/* ======================================== */
.main-container__panel {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.income {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #45b945;
}
.changer {
  display: flex;
  align-items: center;
}
.changer__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.changer__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45b945;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.changer__switch input:checked + .slider {
  background-color: #da4040;
}
.changer__switch input:focus + .slider {
  box-shadow: 0 0 1px #da4040;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.changer__switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #da4040;
}
.expenses__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ======================================== */
/* Input-Panel */
/* ======================================== */
.main-container__input-panel {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.input-panel__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 1rem;
}
.input-panel__description input {
  padding: 5px 10px;
  font-size: 1.5rem;
  background-color: transparent;
  color: #45b945;
  border: none;
  transition: all 0.3s;
  border-bottom: 2px solid #45b945;
}
.red-border {
  border-color: #da4040 !important;
}
.input-panel__value {
  display: flex;
  width: 200px;
  flex-direction: column;
  margin-right: 1.5rem;
}
.input-panel__value input {
  padding: 5px 10px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  color: #45b945;
  border-bottom: 2px solid #45b945;
}
.input-panel__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  color: #45b945;
  font-size: 2.5rem;
  border: none;
  transition: all 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.red {
  color: #da4040 !important;
}
/* ======================================== */
/* List-container */
/* ======================================== */
.list-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0.5rem;
}
.list-container__item {
  border-top: 1px solid black;
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  color: #ffffff;
}
.item__details {
  flex: 1;
  font-size: 1.7rem;
  font-weight: 500;
}
.name {
  max-width: 650px;
  word-wrap: break-word;
}
.item__value {
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 0.7;
}
.value__percentage span {
  font-size: 1.2rem;
  font-weight: 300;
}
.item__delete-button {
  border: none;
}
.income-style {
  color: #45b945;
}
.expense-style {
  color: #da4040;
}
.delete-button {
  display: none;
  color: #da4040;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  background-color: transparent;
}
.delete-button i {
  pointer-events: none;
}
.list-container__item:hover .delete-button {
  display: flex;
}
.list-container__item:hover .item__value {
  transform: translateX(-10px);
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 110%;
  }
  .main-container__panel {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between !important;
  }
  .subtitle-text {
    font-size: 1.5rem;
  }
  .main-counter {
    font-size: 2.5rem;
  }
  .input-panel__value {
    width: 150px;
  }
  .input-panel__description input {
    font-size: 1.2rem;
  }
  .input-panel__value input {
    font-size: 1.2rem;
  }
  .delete-button {
    display: flex !important;
    margin-left: 1rem;
  }
  .name {
    max-width: 150px;
  }
  .item__value {
    font-size: 1.2rem;
    line-height: 1;
  }
  .panel__item:hover .panel__item__value {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 550px) {
  .main-container__panel {
    font-size: 1.3rem;
  }
  .header__counter {
    font-size: 2rem;
  }
  .submit-button i {
    font-size: 2rem;
  }
  .subtitle-text {
    font-size: 1rem;
  }
  .expenses__title i {
    display: none;
  }
  .input-panel__description {
    width: 200px;
  }
  .input-panel__value {
    width: 120px;
  }
  .income__title i {
    display: none;
  }
}
